table {
  width: 100%;
}

.padButton {
  margin: 20px;
}

.rightButton {
  float: right;
}

mat-card {
  width: 80%;
  margin: auto;
}
mat-header-cell {
  display: flex;
  justify-content: flex-end;
}
mat-form-field,
textarea {
  width: 45%
}
.formSpac {
margin-left: 30px
}

mat-spinner {
  margin: auto
}
.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

