<div class="mat-elevation-z8">
    <mat-card>

      <mat-form-field class="formSpac">
        <input matInput type="number" name="fromPrice" placeholder="From Price" [(ngModel)]="fromPrice" />
      </mat-form-field>

      <mat-form-field class="formSpac">
        <input matInput type="number" name="toPrice" placeholder="To Price" [(ngModel)]="toPrice" />
      </mat-form-field>

      <mat-form-field class="formSpac">
        <mat-label>Number Of Rooms</mat-label>
        <mat-select [(value)]="selectedRooms" name="rooms">
          <mat-option *ngFor="let room of nbRooms" [value]="room.value">
            {{room.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="formSpac">
        <textarea rows="2" matInput name="address" placeholder="Address" [(ngModel)]="address"></textarea>
      </mat-form-field>


      <button mat-raised-button color="primary" class="rightButton" (click)=" onSearch()">Search</button>
      <button mat-raised-button color="warn" (click)=" onReset()">Reset</button>

    </mat-card>


    <div class="container" style="width: 82%;">
      <button style="margin-right: 0px !important;" class="padButton rightButton" routerLink="/create" mat-raised-button color="primary">Create Appartment</button>
      <table mat-table [dataSource]="appartments">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let appartment"> {{appartment.id}} </td>
        </ng-container>

        <!-- title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let appartment"><a [routerLink]="['/edit', appartment.id]" [queryParams]="appartment"> {{appartment.title}}</a> </td>
        </ng-container>

        <!-- address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let appartment"> {{appartment.address}} </td>
        </ng-container>

        <!-- rooms Column -->
        <ng-container matColumnDef="rooms">
          <th mat-header-cell *matHeaderCellDef> Rooms </th>
          <td mat-cell *matCellDef="let appartment"> {{appartment.nbOfRooms}} </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let appartment"> {{appartment.price}} </td>
        </ng-container>

        <ng-container matColumnDef="purchase">
          <th mat-header-cell *matHeaderCellDef> Purchase </th>
          <td mat-cell *matCellDef="let appartment">
            <button mat-flat-button color="primary" (click)="onPurchase(appartment.id)">Purchase</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </div>
