<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input matInput formControlName="title" type="text" name="title" placeholder="Title" />
      <mat-error *ngIf="form.get('title').invalid">Please insert appartment title</mat-error>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Number Of Rooms</mat-label>
      <mat-select [(value)]="selectedRooms" name="rooms" formControlName="rooms">
        <mat-option *ngFor="let room of nbRooms" [value]="room.value">
          {{room.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('rooms').invalid">Please select number of rooms</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea rows="2" formControlName="address" matInput name="address" placeholder="Address"></textarea>
      <mat-error *ngIf="form.get('address').invalid">Please insert a address</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!isCreate">
      <input matInput formControlName="price" type="text" name="price" placeholder="Price" [readonly]="true" />
    </mat-form-field>

    <button mat-raised-button class="rightButton" color="primary" type="submit">{{saveText}}</button>
    <button mat-raised-button  color="warn" (click)="onCancel()">Cancel</button>

  </form>
</mat-card>
