<h1 mat-dialog-ititle>Purchase Appartment</h1>
<div mat-dialog-content>
  <div class="padDiv">
    <mat-form-field>
      <mat-label>Select Buyer</mat-label>
      <mat-select [(value)]="selectedBuyer" name="buyers">
        <mat-option *ngFor="let buyer of buyers" [value]="buyer.id">
          {{buyer.fullName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="true">Please select number of rooms</mat-error>
      </mat-form-field>
      </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onPurchase()" >Buy</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
